html {
  padding-top:50px;
}

body{
  background: url(images/backgroundbamboo.png);
  background-size: cover;
}

.navbar{
  margin-top: 2.5%;
  margin-bottom: 0;
  background-color:white;
  opacity: 0.6;
  font-size: 20px;
  font-weight: bold;
}

.navbar-brand {
  margin-bottom: 45;
}

#title {
  margin-bottom: 1.5%;
}

#block {
  margin-top: 5%;
  padding: 1%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  height: 500px;
  background-color:white;
  opacity: 0.90;
  font-size: 20px;
  text-align: center;
  overflow: auto;
}

.img-responsive {
  display: inline-block;
}

.about {
  width: 50%;
  text-align: left;
  display: inline-block;
  margin-left: 25px;
}

.contactform {
  display: inline-block;
  margin-top: auto;
  margin-bottom: auto;
}

textarea {
  height: 180px;
}

.embed-responsive {
  display: inline-block;
  height: 55%;
  width: 50%;
  margin-left: 1%;
  margin-bottom: 1%;
  margin-top: 1%;
}

.field {
  margin-top: 1%;
  margin-bottom: 1%;
  border: 1px solid #82C58B;
}

#number {
  display: inline-block;
  width: 49px;
}

#dash {
  display: inline-block;
}

#submit {
  margin-top: 5px;
  width: 258px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: #82C58B;
  color: white;
}

.footer{

  bottom: 0;
  margin-bottom: 1.5%;
  border-width: 1px 0 0;
  position:fixed;
  background-color: white;
  width: 100%;
  opacity: 0.6;
  font-size: 20px;
  font-weight: bold;
}

#social-media {
 width: 100%;
 text-align: center;
 margin-bottom: 0;
 display: inline-block;
 float: right;
}

#social-media ul {
 display: inline-block;
 padding: 0;
 margin: 0px;
}

#social-media li {
 display: inline-block;
 float: left;
}

#social-media li a {
 display: block;
 margin-left: 48px;
 margin-right: 48px;
 margin-top: 0;
 margin-bottom: 0;
}
